extends layout

block content


  h1.text-center 數位豆泥卡申請
  - var candleLevel = (Math.floor(checkinCount / 50) % 7) + 1
  - var round = Math.floor((checkinCount - 50) / 350) + 1
  - var roundText = round > 1 ? `${round}週目 ` : ''
  img.img-fluid.mx-auto.d-block.rounded.mb-4(src="/images/avatar_candle_lvl_" + candleLevel + ".png" alt="Avatar" style="max-width: 200px")
  if round > 1
    p.text-center.text-secondary.mb-4= roundText

  ul.nav.nav-tabs.mb-4
    li.nav-item
      a.nav-link.active(href="/") 申請豆泥卡(發行)
    li.nav-item  
      a.nav-link(href="/checkin") 幫豆泥點蠟，直到豆泥燒完(驗證)

  .card.mb-4.shadow-sm
    .card-body
      .alert.alert-primary.mb-4
        h3.h5.fw-bold.mb-3 關於數位部數位皮夾計畫
        p.text-secondary
          | 數位皮夾採用去中心化技術架構，以安全和隱私保護為核心，確保您的數位證件獲得可靠保護。
        .card.mt-3
          .card-body
            h4.h6.fw-bold.mb-2 計畫時程
            ul.text-secondary
              li.mb-2 2024年：完成規劃文件及APP功能架構
              li.mb-2 2025年：進行第一階段開發及沙盒測試
              li.mb-2 2026年：開始產品上線前測試
            p.small.text-muted.mt-3
              | 詳細資訊請參考 
              a.text-decoration-none(href="https://www.wallet.gov.tw/news.html" target="_blank") 數位部網站(另開新視窗)

      .mb-4
        .border-bottom.pb-4
          h3.h5.fw-bold.mb-3.d-flex.align-items-center
            span.badge.bg-warning.rounded-circle.me-2.p-2 壹
            | 下載數位皮夾測試版 App

          .alert.alert-warning.mb-4
            p.mb-0
              i.fas.fa-info-circle.me-2
              strong 注意事項：
              br
              | • iOS 用戶需先安裝 TestFlight 才能下載測試版本
              br
              | • Android 用戶需先加入測試成員名單才能下載

          .row.g-4
            .col-12.col-md-6
              .card.text-center.bg-light
                .card-body
                  h4.h6.fw-bold.mb-3 Android 版本
                  .row
                    .col-12.mb-3
                      a(href="https://play.google.com/apps/testing/tw.gov.moda.diw" target="_blank" title="下載 Android 版本(另開新視窗)")
                        img.img-fluid(style="width: 160px" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://play.google.com/apps/testing/tw.gov.moda.diw" loading="lazy" alt="Android 版本 QR Code(另開新視窗)")
                    .col-12.mb-3
                      a(href="https://play.google.com/apps/testing/tw.gov.moda.diw" target="_blank" title="下載 Android 版本(另開新視窗)")
                        img.img-fluid(style="width: 160px" src="/images/googleplay.png" loading="lazy" alt="Google Play 商店下載按鈕(另開新視窗)")
                    .col-12
                      small.text-muted 支援 Android 10 以上

            .col-12.col-md-6
              .card.text-center.bg-light
                .card-body
                  h4.h6.fw-bold.mb-3 iOS 版本
                  .row
                    .col-12.mb-3
                      a(href="https://testflight.apple.com/join/gxr3mQFj" target="_blank" title="下載 iOS 版本(另開新視窗)")
                        img.img-fluid(style="width: 160px" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://testflight.apple.com/join/gxr3mQFj" loading="lazy" alt="iOS 版本 QR Code(另開新視窗)")
                    .col-12.mb-3
                      a(href="https://testflight.apple.com/join/gxr3mQFj" target="_blank" title="下載 iOS 版本(另開新視窗)")
                        img.img-fluid(style="width: 160px" src="/images/applestore.png" loading="lazy" alt="Apple Store 下載按鈕(另開新視窗)")
                    .col-12
                      small.text-muted 支援 iOS 15.0 以上

      .card.bg-light
        .card-body
          h3.h5.fw-bold.mb-3.d-flex.align-items-center
            span.badge.bg-warning.rounded-circle.me-2.p-2 貳
            | 取得數位豆泥卡

          p.text-center.mb-3 請填寫以下資訊以取得您的數位豆泥卡 QR Code

          form.mx-auto(style="max-width: 480px" action="/generateVC" method="POST")
            .mb-3
              label.form-label(for="nickname") 暱稱：(請勿使用標點符號或特殊符號，僅限中文、英文、數字、底線)
              input#nickname.form-control(type="text" name="nickname" pattern="[a-zA-Z0-9\u4e00-\u9fa5_]+" title="請勿使用標點符號或特殊符號，僅限中文、英文、數字、底線" required)
            
            .mb-3
              label.form-label(for="birthday") 生日：(選填)
              input#birthday.form-control(type="date" name="birthday")
              small.form-text.text-muted 生日欄位可以不填寫，若填寫將會在數位豆泥卡上顯示
            
            button.btn.btn-warning.w-100(type="submit") 
              | 取得數位豆泥卡 QR Code


